.vdpClearInput{
    background-image: url('../../../assets/icon/x.svg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 14px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% 50%;
    position: absolute !important;
    right: 16px !important;
    top: 10px !important;
    background-color: #e9ebee !important;
    display: none;
}
.vdpCell.today{
    color: rgb(44, 160, 28) !important;
}
.vdpClearInput:before {
    content : "";
    display: none;
}
.vdpArrowPrev:focus:after, .vdpArrowPrev:hover:after{
    border-right-color: #ffffff !important;
}
.vdpArrowNext:focus:after, .vdpArrowNext:hover:after{
    border-left-color: #ffffff !important;
}
.vdpArrow:focus:before, .vdpArrow:hover:before {
    background-color: rgb(44, 160, 28) !important;
}
.vdpCellContent:focus, .vdpCellContent:hover{
    background-color: rgb(44, 160, 28) !important;
}
.vdpCell.selected .vdpCellContent{
    background-color: rgb(44, 160, 28) !important;
}
.vdpCell.selectable:hover > .vdpCellContent{
    background-color: rgb(44, 160, 28) !important;
}
.vdpOuterWrap.vdpFloating{
    left: -120px !important;
}
.vdpHeadCell{
    padding-bottom: 0px !important;
}
.vdpRow{
    height: 32px !important;
}
/* .vdpComponent.vdpWithInput input{
    font-family: Notosans-Italic !important;
} */
.vdpComponent.vdpWithInput input::placeholder{
    font-family: Notosans-Italic !important;
}
@font-face {
    font-family: 'Notosans-Italic';
    src: url('../../font/notosans-italic.woff2') format('opentype');
}