@import url('./background.css');
@import url('./border.css');
@import url('./button.css');
@import url('./combobox.css');
@import url('../layout/content.css');
@import url('./dialog.css');
@import url('../layout/header.css');
@import url('./icon.css');
@import url('../layout/navbar.css');
@import url('./select.css');
@import url('./title.css');
@import url('./toast.css');
@import url('./toolbar.css');
@import url('./input.css');
@import url('./table.css');
@import url('../page/employee-detail.css');
@import url('./date-pick.css');
@import url('./animation.css');
@import url('./responsive.css');
@import url('./tooltip.css');

body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    -webkit-text-decoration-style: initial;
    text-decoration-style: solid;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    font-family: Notosans-Regular;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}

.relative {
    position: relative;
}

.wrong-input {
    position: absolute;
    left: 52px;
    bottom: 42px;
    width: auto;
    height: 30px;
    white-space: nowrap;
    background-color: #111111;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    z-index: 100000;
}

/* .wrong-input:after {
    position: absolute;
    content: "";
    top: 60px;
    left: 94px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #FF4747 transparent transparent transparent;
} */

.center-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.show {
    display: inline-block !important;
}
.disable {
    color: #9e9e9e !important;
}
.show-flex {
    display: flex;
}

button {
    cursor: pointer;
}

.rotate-opposite {
    transform: rotateY(180deg);
}

.rotate-oppositeX {
    transform: rotateX(180deg);
}

.x-icon {
    background-image: url("../../../assets/icon/x.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center center;
    width: 20px;
    height: 20px;
    border-radius: 50% 50%;
    background-color: #e9ebee;
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
}

.x-icon.combobox-icon {
    right: 52px;
    top: 10px;
}

.x-icon.currency-icon {
    right: 0;
    left: 16px;
}

.x-icon.search-icon {
    right: 25px;
}

.combobox {
    width: 252px;
    padding-right: 72px;
}

.none-pointer {
    pointer-events: none;
}

.border-red {
    border: 1px solid #FF4747 !important;
}

.visible {
    visibility: visible !important;
}

.no-content {
    position: sticky;
    left :0;
    width: calc(100% - 30px);
    font-size: 13px;
    background-color: #fff;
}

.no-content .no-content-img {
    background-image: url("../../../assets/icon/no-content.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.no-content .no-content-text {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;
}

input[type="checkbox"]:checked:before {
    background-color: #04b474;
}

.bg-selected > .main-td{
    background-color: #f8f8f8 !important;
}

.checkbox-custom {
    display: none;
}

.checkbox-custom-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;

}

.checkbox-custom+.checkbox-custom-label:before {
    content: '';
    background: #fff;
    border-radius: 2px;
    border: 1px solid #afafaf;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 0px;
}

.checkbox-custom+.active-checkbox:before {
    border-color: #2ca01c !important;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    background-color: #fff;
    border-color: #afafaf;
}

.checkbox-custom:checked+.checkbox-custom-label:after {
    content: "";
    padding: 2px;
    position: absolute;
    width: 1px;
    height: 5px;
    border: 1px solid #2ca01c;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    top: 3px;
    left: 6px;
}

/* Create a custom radio button */
.container {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    user-select: none;
    margin-right: 20px;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #afafaf;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #ffffff;
    border-color: rgb(44, 160, 28);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(44, 160, 28);
}


.half-w {
    display: inline-block;
    width: 50%;
}
.full-w{
    width: 100%;
}
.w2p5 {
    width: 40% !important;
}

.w3p5 {
    width: 60% !important;
}

.w1p4{
    width: 24.3% !important;
}

.pr26 {
    padding-right: 26px;
}
.pl10{
    padding-left: 10px;
}
.mr0{
    margin-right: 0px !important;
}
.px-3{
    padding-left: .75rem!important;
    padding-right: .75rem!important;
}
.divide{
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin: 32px 0 20px 0;
    position: relative;
}
@font-face {
    font-family: 'Notosans-Bold';
    src: url('../../font/notosans-bold.woff2') format('opentype');
}

@font-face {
    font-family: 'Notosans-Italic';
    src: url('../../font/notosans-italic.woff2') format('opentype');
}

@font-face {
    font-family: 'Notosans-Regular';
    src: url('../../font/notosans-regular.woff2') format('opentype');
}

/*
@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../../font/GoogleSans-Black.otf') format('opentype');
} */