.vdpClearInput{
    background-image: url('../../../assets/icon/x.svg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 14px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% 50%;
    position: absolute !important;
    right: 16px !important;
    top: 10px !important;
    background-color: #e9ebee !important;
}
.vdpCell.today{
    color: #019160 !important;
}
.vdpClearInput:before {
    content : "";
    display: none;
}
.vdpArrowPrev:focus:after, .vdpArrowPrev:hover:after{
    border-right-color: #ffffff !important;
}
.vdpArrowNext:focus:after, .vdpArrowNext:hover:after{
    border-left-color: #ffffff !important;
}
.vdpArrow:focus:before, .vdpArrow:hover:before {
    background-color: #019160 !important;
}
.vdpCellContent:focus, .vdpCellContent:hover{
    background-color: #019160 !important;
}
.vdpCell.selected .vdpCellContent{
    background-color: #019160 !important;
}
.vdpCell.selectable:hover > .vdpCellContent{
    background-color: #019160 !important;
}