.navbar {
    display: block;
    float: left;
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    
}
    .navbar .logo-site {
        position: relative;
        background: url('../../../assets/image/toggle.png');
        background-position-x: 16px;
        background-position-y: 12px;
        background-size: 24px;
        background-repeat: no-repeat;
        padding-left: 50px;
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        border-right: 1px solid #e5e5e5;
    }
        .navbar .logo-site .misa-logo {
            position: absolute;
            width: calc(100% - (24px + 16px + 10px));
            height: 24px;
            background: url('../../../assets/image/cukcuk-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 12px;
        }
    .navbar .navbar-content {
        border-right: 1px solid #e5e5e5;
        height: calc(100% - 48px);
        position: relative;
        width: calc(100% - 1px);
        transition: all 0.3s ease-out;
    }
        .navbar .navbar-content .navbar-item {
            padding-left: 41px;
            margin-right: 10px;
            height: 44px;
            line-height: 44px;
            background-repeat: no-repeat;
            background-position: 16px center;
            background-size: 20px;
            width: 100%;
            box-sizing: border-box;
            text-decoration: none !important;
            transition: all 0.3s ease-out;
        }
            .navbar .navbar-content .navbar-item:hover {
                background-color: #e5e5e5;
                cursor: pointer;
            }
        
            
        
.navbar-item-icon-dashboard{
    background-image: url('../../../assets/icon/dashboard.png');
}
.navbar-item-icon-report {
    background-image: url('../../../assets/icon/report.png');
}
.navbar-item-icon-order {
    background-image: url('../../../assets/icon/shopping-cart.png');
}
.navbar-item-icon-customer{
    background-image: url('../../../assets/icon/dic-employee.png');
}
.navbar-item-icon-employee {
    background-image: url('../../../assets/icon/dic-employee.png');
}
.navbar-item-icon-setting {
    background-image: url('../../../assets/icon/setting.png');
}